[submodule "libs/date"]
	path = libs/date
	url = git@github.com:HowardHinnant/date.git
[submodule "libs/libsqlite3"]
	path = libs/libsqlite3
	url = git@github.com:LuaDist/libsqlite3.git
[submodule "libs/sqlpp11-connector-sqlite3"]
	path = libs/sqlpp11-connector-sqlite3
	url = git@github.com:rbock/sqlpp11-connector-sqlite3.git
[submodule "libs/sqlpp11"]
	path = libs/sqlpp11
	url = git@github.com:rbock/sqlpp11
[submodule "libs/Simple-Web-Server"]
	path = libs/Simple-Web-Server
	url = https://gitlab.com/eidheim/Simple-Web-Server.git
